/*
!wp-content
!.gitignore
wp-content/*

!wp-content/plugins
!wp-content/Belangrijke Gegevens.txt
wp-content/plugins/*
!wp-content/plugins/custom-plugin

!wp-content/themes
wp-content/themes/*
!wp-content/themes/disclose
