@media only screen and (max-width: 1200px) { /* screen size until 1200px */
    .innerText {
        font-size: 2.7rem;
        line-height: 40px;
    }
    .logo.shrink    {
        left: -50px;
        transform: scale(0.3);
    }
    .cloud {
        transform: scale(2.5);
        margin-left: 25%;
    }
    
    .quoteContainer .quote  {
        font-size: 1.3rem;
        font-weight: 400;
    }
    .text h2 {
        font-size: 1.7rem;
    }
    
    .text p {
        font-size: 0.7rem;
        line-height: 30px;
    }
}


@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        
    }
}


@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        
    }
}